
@import '../../node_modules/colors.css/sass/colors';
@import 'highlight';

$sidebar-width: 33%;

$spacing-top: 15px;

body {
  margin: 0px;

  background-color: $white;
}
h1 {
  font-family:sans-serif;
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: $blue;
}

.sidebar-container {
  width:$sidebar-width;
  position:fixed;
  top:0;
  bottom:0;

  padding-top: $spacing-top;

  background: $green;
  font-family:sans-serif;
}


.sidebar {
  margin-top:20%;
  margin-right:10%;

  text-align: right;
}


#name {
  color: $white;
}

.nav {
  list-style: none;

  a:link,
  a:visited {
    color:$lime;
  }
}


.content {
  margin-left: $sidebar-width;
  height:100%;

  padding-top: $spacing-top;
  padding-left:3%;
  padding-right:3%;

  text-align: left;
}

.posts-list {
  min-height:100%;
}

.post {
  &>h1 {
    font-size: 1.2em;
  }
  &>h2 {
    font-size: 1.0em;
  }
}


