/* line 3, scss/style.css.scss */
body {
  background-color: black;
  text-align: center;
  padding: 0 !important;
}

/* line 9, scss/style.css.scss */
.container {
  margin: 0 auto;
  margin-top: 15%;
}

/* line 15, scss/style.css.scss */
#name {
  color: white;
  font-weight: 400 !important;
}

/* line 20, scss/style.css.scss */
.contacts {
  display: block;
  list-style: none;
  width: 101px;
  margin: 0px auto;
  padding-left: 0px;
  overflow: hidden;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-name: slidedown;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes slidedown {
  /* line 34, scss/style.css.scss */
  from {
    height: 0px;
  }

  /* line 38, scss/style.css.scss */
  to {
    height: 160px;
  }
}

/* line 44, scss/style.css.scss */
.contacts li {
  height: 40px;
  width: inherit;
}

/* line 49, scss/style.css.scss */
.contacts li:nth-child(1) {
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-fill-mode: forwards;
}

/* line 56, scss/style.css.scss */
.contacts li:nth-child(2) {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: rotateY(90deg);
}

/* line 66, scss/style.css.scss */
.contacts li:nth-child(3) {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: rotateY(90deg);
}

/* line 76, scss/style.css.scss */
.contacts li:nth-child(4) {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: rotateY(90deg);
}

@-webkit-keyframes rotate {
  /* line 87, scss/style.css.scss */
  from {
    -webkit-transform: rotateY(90deg);
  }

  /* line 91, scss/style.css.scss */
  to {
    -webkit-transform: rotateY(0deg);
  }
}

/* line 97, scss/style.css.scss */
.blank {
  width: 46px;
  height: inherit;
  display: inline-block;
  vertical-align: top;
}

/* line 104, scss/style.css.scss */
.icon {
  width: 46px;
  height: inherit;
  display: inline-block;
  vertical-align: top;
}
/* line 111, scss/style.css.scss */
.icon .fa {
  font-size: 36px;
}
/* line 115, scss/style.css.scss */
.icon .fa-envelope {
  font-size: 30px;
}
/* line 119, scss/style.css.scss */
.icon a:visited {
  color: #4775FF;
}
/* line 123, scss/style.css.scss */
.icon a:link {
  color: #4775FF;
}
/* line 127, scss/style.css.scss */
.icon a:hover {
  width: 49px;
  -webkit-animation-duration: 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: border;
}

@-webkit-keyframes border {
  /* line 140, scss/style.css.scss */
  from {
    color: #4775FF;
  }

  /* line 144, scss/style.css.scss */
  to {
    color: red;
  }
}

/* line 150, scss/style.css.scss */
.line {
  width: 0px;
  height: inherit;
  display: inline-block;
  vertical-align: top;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: white;
}
