html{
  height:100%;
  width:100%;

  padding: 5px 10%;

  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;  color: white  ;

  background: url('../images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body{
  height:95%;
  width:680px;

}

#container{
  min-height:100%;
  margin: auto;

}

#text{
  min-height:100%;
  margin: auto;
  padding-top: 10px;

  background: rgba(10,10,10,.7);
  border-radius: 30px 30px 0px 30px;
}

#name{

  margin: 0px 0px 0px 50%;

  font-size: 48px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  letter-spacing:4px;

  /* top/bottom left/right */
  padding: 1px 10px;  
}

#about{

  /* top/bottom left/right */
  padding: 1px 10px;  
}

#about em{
  font-size: 18px;
  font-style: oblique;
  font-size: 30px;
  color: green;

  padding: 0px 5px;
}

#contact{
  margin-top: 50px;

  /* top/bottom left/right */
  padding: 1px 10px;  

}

#contact a{
  color: green;
  font-size: 20px;
}

#footer{
  text-align: center;
  height: 30px;
  width: 460px;
  margin: -30px 0 0 auto;
  font-size: 12px;

  background: rgba(10,10,10,.7);
  /* top/bottom left/right */
  padding: 1px 10px;  
  border-radius: 30px 0px 30px 30px;

}